.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  width: 100%;
  align-self: center;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  margin: 0 auto;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* description */

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* digits */

.digits {
  margin: 100px auto;
}

.section-title {
  max-width: 60%;
  width: 100%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 20px auto;
}

.section-subtitle {
  max-width: 60%;
  width: 100%;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 20px 0 0 0;
}

/* feynman */

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.feynman__title {
  max-width: 648px;
  width: 100%;
  margin: 0 auto 70px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  padding-top: 100px;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link:hover {
  text-decoration: underline;
}

/* kaufman */

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

/* footer */

.footer {
  background-color: #1f1f1f;
}

.footer__columns {
  min-height: 350px;
  width: 90%;
  color: #f2f2f2;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  padding: 18px 0;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.footer__column-links {
  margin-bottom: 16px;
}

.footer__column-link {
  color: #f2f2f2;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
